<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About US</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/Favicon/Favicon 1.png" rel="icon">
  <link href="assets/img/Favicon/Favicon 5.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/newmain.css" rel="stylesheet">

</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0" style="background-color: #4C4C4C;">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">

    <h1 style="color: #ffffff;"> <strong style="color: #20B2FF;">BLUE</strong><strong>TICK</strong></h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto navtext" href="/user?username=<%= username %>">Home</a></li>
        <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
           <li><a class="nav-link nav-profile d-flex align-items-center pe-0 Borders" href="#" data-bs-toggle="dropdown" >
              <img src="assets/img/BT_ICONS/Personal_Shipment.png" alt="Profile" class="imagess" >
              <span class="navtext">Personal Courier</span>
            </a></li> 
            <li><a class="nav-link nav-profile d-flex align-items-center pe-0 Borders" href="#" data-bs-toggle="dropdown">
              <img src="assets/img/BT_ICONS/Business_Shipment.png" alt="Profile" class="imagess">
              <span class="navtext">Business Shipment</span>

            </a></li> 
            <li><a class="nav-link nav-profile d-flex align-items-center pe-0 Borders" href="#" data-bs-toggle="dropdown">
              <img src="assets/img/BT_ICONS/Express_Parcel.png" alt="Profile" class="imagess">
              <span class="navtext">Express Parcel</span>

            </a></li> 
            <li><a class="nav-link nav-profile d-flex align-items-center pe-0 Borders" href="#" data-bs-toggle="dropdown">
              <img src="assets/img/BT_ICONS/Fully_Loaded.png" alt="Profile" class="imagess">
              <span class="navtext">Fully Loaded</span>
            </a></li> 
            <li><a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src="assets/img/BT_ICONS/Partially_Loaded.png" alt="Profile" class="imagess">
              <span class="navtext">Partially Loaded</span>
            </a></li>  
          </ul>
        </li>
        <li><a class="nav-link scrollto navtext" href="/about?username=<%= username %>">About Us</a></li>
       
        <li><a class="nav-link scrollto navtext" href="/user?username=<%= username %>">Track</a></li>
        <li><a class="nav-link scrollto navtext" href="/support?username=<%= username %>">Support</a></li>


        <li><a class="dropdown btn-getstarted " href="Request_delivery.html"><span style="margin-right: 5px;">Ship Now</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
         </li>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
   
    <li class="nav-item dropdown" style="list-style: none;">

      <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
        <i class="bi bi-bell"></i>
        <span class="badge bg-primary badge-number">4</span>
      </a><!-- End Notification Icon -->

      <ul class="something">
        <li class="dropdown-header">
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="notification-item">
          <i class="bi bi-exclamation-circle text-warning"></i>
          <div class="notification-text">
            <h4 style="color: #20B2FF;">Lorem Ipsum</h4>
            <p>Quae dolorem earum veritatis oditseno</p>
            <p>30 min. ago</p>
          </div>
        </li>

        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="notification-item">
          <i class="bi bi-x-circle text-danger"></i>
          <div>
            <h4 style="color: #20B2FF;">Atque rerum nesciunt</h4>
            <p>Quae dolorem earum veritatis oditseno</p>
            <p>1 hr. ago</p>
          </div>
        </li>

        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="notification-item">
          <i class="bi bi-check-circle text-success"></i>
          <div>
            <h4 style="color: #20B2FF;">Sit rerum fuga</h4>
            <p>Quae dolorem earum veritatis oditseno</p>
            <p>2 hrs. ago</p>
          </div>
        </li>

        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="notification-item">
          <i class="bi bi-info-circle text-primary"></i>
          <div>
            <h4 style="color: #20B2FF;">Dicta reprehenderit</h4>
            <p>Quae dolorem earum veritatis oditseno</p>
            <p>4 hrs. ago</p>
          </div>
        </li>

        <li>
          <hr class="dropdown-divider">
        </li>
        <li class="dropdown-footer">
          <a href="#">Show all notifications</a>
        </li>

      </ul><!-- End Notification Dropdown Items -->

    </li><!-- End Notification Nav -->

    <li class="nav-item dropdown" style="list-style: none;">

      <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
        <i class="bi bi-chat-left-text"></i>
        <span class="badge bg-success badge-number">3</span>
      </a><!-- End Messages Icon -->

      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages " >
        <li class="dropdown-header">
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="message-item">
          <a href="#">
            <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
            <div style="color: #ffffff;">
              <h4 style="color: #20B2FF;">Maria Hudson</h4>
              <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
              <p>4 hrs. ago</p>
            </div>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="message-item">
          <a href="#">
            <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
            <div style="color: #ffffff;">
              <h4 style="color: #20B2FF;">Anna Nelson</h4>
              <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
              <p>6 hrs. ago</p>
            </div>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="message-item">
          <a href="#">
            <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
            <div style="color: #ffffff;">
              <h4 style="color: #20B2FF;">David Muldon</h4>
              <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
              <p>8 hrs. ago</p>
            </div>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="dropdown-footer">
          <a href="#">Show all messages</a>
        </li>

      </ul><!-- End Messages Dropdown Items -->

    </li><!-- End Messages Nav -->

    <li class="nav-item dropdown pe-3" style="list-style: none;">

      <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
        <img src="assets/img/profile-img.png" alt="Profile" class="rounded-circle">
        <span class="d-none d-md-block ps-2" id="usernameDropdown"><%= username%></span>
      </a><!-- End Profile Iamge Icon -->

      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
        <li>
          <a class="dropdown-item d-flex align-items-center" href="/profile?username=<%= username %>">
            <!-- <i class="bi bi-person" style="color: #20B2FF;"></i> -->
            <span style="color: #ffffff;">My Profile</span>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li>
          <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
            <!-- <i class="bi bi-gear" style="color: #20B2FF;"></i> -->
            <span style="color: #ffffff;">Account Settings</span>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li>
          <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
            <!-- <i class="bi bi-question-circle" style="color: #20B2FF;"></i> -->
            <span style="color: #ffffff;">Need Help?</span>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li>
          <a class="dropdown-item d-flex align-items-center" href="/">
            <!-- <i class="bi bi-box-arrow-right" style="color: #20B2FF;"></i> -->
            <span style="color: #ffffff;">Sign Out</span>
          </a>
        </li>
        </ul>
        </li>
        </ul></nav></div></header>

  <main id="main">

    <section id="features" class="features" >
        <div class="section-header">
          <span>Who we are <strong></strong></span>
          <h2>About<strong>us</strong></h2>
        </div>
        <br>
        <div class="container">
      
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
      
            <div class="col-md-5">
              <div class="member" data-aos="zoom-in">
                <div class="image-container">
                  <img src="assets/img/Homepage/Aboutus_1" alt="avatar">
               </div>
              </div>
            </div>
            <div class="col-lg-7 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200" style="margin: auto; text-align: center;">       
             <h4 style="color: #20B2FF; display: inline-block; font-size: 40px;"><strong>INDIVIDUAL & BUSINESS DELIVERY </strong></h4>
      
              <br>
              
              <ul style="color: #ffffff;">
                <li> Our motto is to minimize your expenses for the best freight and delivery services.
                  We offer the lowest shipping rates and guarantee timely delivery of your packages.
                  We understand the importance of time utilization and cost minimization, so we make sure to provide the best service at the best price.</li>
              </ul>
              <!--<a href="#" class="btn btn-get-started">Make an Appointment</a> -->
            </div>
          </div><!-- Features Item -->
      <br>
          <hr style="border-top: 2px solid #ffffff;">
      <br>
      
      
      
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
            <div class="col-md-5 order-1 order-md-2">
              <div class="member" data-aos="zoom-in">
                <div class="image-container">
                  <img src="assets/img/Homepage/Aboutus_2" alt="avatar">
               </div>
              </div>
            </div>
            <div class="col-lg-7 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200" style="margin: auto; text-align: center;">       
  
              <h4 style="color: #20B2FF; display: inline-block; font-size: 40px;"><strong>"Delivery Areas"</strong></h4>
             <br>
             
             <ul style="color: #ffffff;">
               <li> Currently, our focus is on providing the best freight services in Karnataka. 
                Our aim is to expand our services throughout the country, so that everyone can benefit from our quality services. 
                We are dedicated to making sure our customers receive the best possible service. </li>
             </ul>
           </div>
         </div><!-- Features Item -->
      
      <br>
          <hr style="border-top: 2px solid #ffffff;">
      <br>
      
      
          <div class="row gy-4 align-items-center features-item" data-aos="fade-up">
            <div class="col-md-5">
              <div class="member" data-aos="zoom-in">
                <div class="image-container">
                  <img src="assets/img/Homepage/Aboutus_3" alt="avatar">
               </div>
              </div>
            </div>
            <div class="col-lg-7 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200" style="margin: auto; text-align: center;">       
              <h4 style="color: #20B2FF; display: inline-block; font-size: 40px;"><strong>"Our Guarantee"</strong></h4>
             <br>
             
             <ul style="color: #ffffff;">
               <li> At our company, we strive to provide the best delivery and freight services at the most economical price. 
                We guarantee that our services are safe and optimal, ensuring that you receive the best possible result. 
                We understand the importance of reliable and cost-effective services, and we are committed to meeting your expectations.</li>
             </ul>
           </div>
         </div><!-- Features Item -->
      </div>
      </section><!-- End Features Section -->


  </main>

   <!-- ======= Footer ======= -->
   <footer id="footer">
    <div class="footer-top" style="background-color: #4c4c4c;">
      <div class="container" >
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
        <a href="index.html">     <img src="assets/img/Logo/Transparent_BG.png" alt="" class="img-fluid" height="250px" width="250px"></a> 
            </div>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4 style="color: #20B2FF;">Contact us</h4>
            <p>NH 66, Srinivasnagar<br>
              Surathkal, Mangalore<br>
              Karnataka 575025<br>
              <strong>Phone:</strong>  +91 8279422731<br>
              <strong>Email:</strong>  aashish@bluetick.org.in<br>
            </p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/arius_tech" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.instagram.com/arius_tech/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="www.linkedin.com/in/arius-350283285" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 footer-links" id="stop">
            <h4 style="color: #20B2FF; float: left;">Useful Links</h4><br><br>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="aboutus.html">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="support.html">Support</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#stop">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#stop">Privacy policy</a></li>
            </ul>
          </div> 

          <div class="col-lg-2 col-md-6 footer-links">
            <h4 style="color: #20B2FF; float: left;">Our Services</h4><br><br>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="Request_delivery.html">Personal Courier</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="Request_delivery.html">Business Shipment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="graphics.html">Track</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="fare_calculator.html">Fare Calculator</a></li>

            </ul>
          </div>


          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><a href="index.html"><span style="color: #ffffff;">BLUE<span style="color: #20B2FF;">TICK</span></span></a></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->


  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>