<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Register With US</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/Favicon/Favicon 1.png" rel="icon">
  <link href="assets/img/Favicon/Favicon 5.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/newmain.css" rel="stylesheet">

</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu" style="background-color: #000;">

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top" data-scrollto-offset="0" style="background-color: #4C4C4C;">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center scrollto me-auto me-lg-0">

    <h1 style="color: #ffffff;"> <strong style="color: #20B2FF;">BLUE</strong><strong>TICK</strong></h1>
    </a>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto navtext" href="/user?username=<%= user.username %>">Home</a></li>
        <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
           <li><a class="nav-link nav-profile d-flex align-items-center pe-0 Borders" href="#" data-bs-toggle="dropdown" >
              <img src="assets/img/BT_ICONS/Personal_Shipment.png" alt="Profile" class="imagess" >
              <span class="navtext">Personal Courier</span>
            </a></li> 
            <li><a class="nav-link nav-profile d-flex align-items-center pe-0 Borders" href="#" data-bs-toggle="dropdown">
              <img src="assets/img/BT_ICONS/Business_Shipment.png" alt="Profile" class="imagess">
              <span class="navtext">Business Shipment</span>

            </a></li> 
            <li><a class="nav-link nav-profile d-flex align-items-center pe-0 Borders" href="#" data-bs-toggle="dropdown">
              <img src="assets/img/BT_ICONS/Express_Parcel.png" alt="Profile" class="imagess">
              <span class="navtext">Express Parcel</span>

            </a></li> 
            <li><a class="nav-link nav-profile d-flex align-items-center pe-0 Borders" href="#" data-bs-toggle="dropdown">
              <img src="assets/img/BT_ICONS/Fully_Loaded.png" alt="Profile" class="imagess">
              <span class="navtext">Fully Loaded</span>
            </a></li> 
            <li><a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
              <img src="assets/img/BT_ICONS/Partially_Loaded.png" alt="Profile" class="imagess">
              <span class="navtext">Partially Loaded</span>
            </a></li>  
          </ul>
        </li>
        <li><a class="nav-link scrollto navtext" href="/about?username=<%= user.username%>">About Us</a></li>
       
        <li><a class="nav-link scrollto navtext" href="/user?username=<%= user.username%>">Track</a></li>
        <li><a class="nav-link scrollto navtext" href="/support?username=<%= user.username%>">Support</a></li>


        <li><a class="dropdown btn-getstarted " href="Request_delivery.html"><span style="margin-right: 5px;">Ship Now</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
         </li>
      <i class="bi bi-list mobile-nav-toggle d-none"></i>
   
    <li class="nav-item dropdown" style="list-style: none;">

      <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
        <i class="bi bi-bell"></i>
        <span class="badge bg-primary badge-number">4</span>
      </a><!-- End Notification Icon -->

      <ul class="something">
        <li class="dropdown-header">
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="notification-item">
          <i class="bi bi-exclamation-circle text-warning"></i>
          <div class="notification-text">
            <h4 style="color: #20B2FF;">Lorem Ipsum</h4>
            <p>Quae dolorem earum veritatis oditseno</p>
            <p>30 min. ago</p>
          </div>
        </li>

        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="notification-item">
          <i class="bi bi-x-circle text-danger"></i>
          <div>
            <h4 style="color: #20B2FF;">Atque rerum nesciunt</h4>
            <p>Quae dolorem earum veritatis oditseno</p>
            <p>1 hr. ago</p>
          </div>
        </li>

        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="notification-item">
          <i class="bi bi-check-circle text-success"></i>
          <div>
            <h4 style="color: #20B2FF;">Sit rerum fuga</h4>
            <p>Quae dolorem earum veritatis oditseno</p>
            <p>2 hrs. ago</p>
          </div>
        </li>

        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="notification-item">
          <i class="bi bi-info-circle text-primary"></i>
          <div>
            <h4 style="color: #20B2FF;">Dicta reprehenderit</h4>
            <p>Quae dolorem earum veritatis oditseno</p>
            <p>4 hrs. ago</p>
          </div>
        </li>

        <li>
          <hr class="dropdown-divider">
        </li>
        <li class="dropdown-footer">
          <a href="#">Show all notifications</a>
        </li>

      </ul><!-- End Notification Dropdown Items -->

    </li><!-- End Notification Nav -->

    <li class="nav-item dropdown" style="list-style: none;">

      <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
        <i class="bi bi-chat-left-text"></i>
        <span class="badge bg-success badge-number">3</span>
      </a><!-- End Messages Icon -->

      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages " >
        <li class="dropdown-header">
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="message-item">
          <a href="#">
            <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
            <div style="color: #ffffff;">
              <h4 style="color: #20B2FF;">Maria Hudson</h4>
              <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
              <p>4 hrs. ago</p>
            </div>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="message-item">
          <a href="#">
            <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
            <div style="color: #ffffff;">
              <h4 style="color: #20B2FF;">Anna Nelson</h4>
              <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
              <p>6 hrs. ago</p>
            </div>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="message-item">
          <a href="#">
            <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
            <div style="color: #ffffff;">
              <h4 style="color: #20B2FF;">David Muldon</h4>
              <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
              <p>8 hrs. ago</p>
            </div>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li class="dropdown-footer">
          <a href="#">Show all messages</a>
        </li>

      </ul><!-- End Messages Dropdown Items -->

    </li><!-- End Messages Nav -->

    <li class="nav-item dropdown pe-3" style="list-style: none;">

      <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
        <img src="assets/img/profile-img.png" alt="Profile" class="rounded-circle">
        <span class="d-none d-md-block ps-2" id="usernameDropdown"><%= user.username%></span>
      </a><!-- End Profile Iamge Icon -->

      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
        <li>
          <a class="dropdown-item d-flex align-items-center" href="/profile?username=<%= user.username %>">
            <!-- <i class="bi bi-person" style="color: #20B2FF;"></i> -->
            <span style="color: #ffffff;">My Profile</span>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li>
          <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
            <!-- <i class="bi bi-gear" style="color: #20B2FF;"></i> -->
            <span style="color: #ffffff;">Account Settings</span>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li>
          <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
            <!-- <i class="bi bi-question-circle" style="color: #20B2FF;"></i> -->
            <span style="color: #ffffff;">Need Help?</span>
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>

        <li>
          <a class="dropdown-item d-flex align-items-center" href="/">
            <!-- <i class="bi bi-box-arrow-right" style="color: #20B2FF;"></i> -->
            <span style="color: #ffffff;">Sign Out</span>
          </a>
        </li>
        </ul>
        </li>
        </ul></nav></div></header>


  <main id="main" >

    <div class="card col-xl-7" style="margin-left: auto; margin-right: auto; margin-top: 175px; margin-bottom: 75px; background-color: #4C4C4C; color: #ffffff;"  >
      <div class="card-body">
        <h5 class="card-title" style="text-align: center; color: #20B2FF; font-size: 26px;"><strong>Enter Your Details</strong></h5>
  
        <!-- Multi Columns Form -->
        <form class="row g-3" action="/submit_register" method="POST">
          <div class="col-md-6">
            <label for="autoname" class="form-label">Your Name</label>
            <input type="text" class="form-control" id="autoname" required name="user_name" readonly>
          </div>
          <div class="col-md-6">
            <label for="inputName5" class="form-label">Company Name</label>
            <input type="text" class="form-control" id="inputName5" required name="company_name">
          </div>
          <div class="col-md-6">
            <label for="inputEmail5" class="form-label">Email</label>
            <input type="email" class="form-control" id="inputEmail5" name="email">
          </div>
          <div class="col-md-6">
            <label for="yourUsername" class="form-label text">Mobile Number</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">+91</span>
              <input type="phone Number" name="phone_no" class="form-control" id="yourUsername" maxlength="10"  minlength="10" readonly>
              <div class="invalid-feedback text">Please enter your Mobile Number.</div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="inputAddress5" class="form-label">Address Line 1</label>
            <input type="text" class="form-control" id="inputAddres5s" placeholder="1234 Main St" name="address1">
          </div>
          <div class="col-md-6">
            <label for="inputAddress2" class="form-label">Address Line 2</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="address2">
          </div>
          <div class="col-md-5">
            <label for="inputState" class="form-label">State</label>
            <select id="inputState" class="form-select">
              <option selected>Choose...</option>
              <option>Karnataka</option>
            </select>
          </div>
          <div class="col-md-5">
            <label for="inputCity" class="form-label">City</label>
            <input type="text" class="form-control" id="inputCity" name="city">
          </div>

          <div class="col-md-2">
            <label for="inputZip" class="form-label">Pincode</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary" style="background-color: #20B2FF;">Register</button>
          </div>
        </form><!-- End Multi Columns Form -->
  
  </div></div>



  </main>

     <!-- ======= Footer ======= -->
     <footer id="footer">
      <div class="footer-top" style="background-color: #4c4c4c;">
        <div class="container" >
          <div class="row">
  
            <div class="col-lg-4 col-md-6">
              <div class="footer-info">
          <a href="index.html">     <img src="assets/img/Logo/Transparent_BG.png" alt="" class="img-fluid" height="250px" width="250px"></a> 
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4 style="color: #20B2FF;">Contact us</h4>
              <p>NH 66, Srinivasnagar<br>
                Surathkal, Mangalore<br>
                Karnataka 575025<br>
                <strong>Phone:</strong>  +91 8279422731<br>
                <strong>Email:</strong>  aashish@bluetick.org.in<br>
              </p>
              <div class="social-links mt-3">
                <a href="https://twitter.com/arius_tech" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="https://www.instagram.com/arius_tech/" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="www.linkedin.com/in/arius-350283285" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="col-lg-2 col-md-6 footer-links" id="stop">
              <h4 style="color: #20B2FF; float: left;">Useful Links</h4><br><br>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="index.html">Home</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="aboutus.html">About us</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="support.html">Support</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#stop">Terms of service</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#stop">Privacy policy</a></li>
              </ul>
            </div> 
  
            <div class="col-lg-2 col-md-6 footer-links">
              <h4 style="color: #20B2FF; float: left;">Our Services</h4><br><br>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="Request_delivery.html">Personal Courier</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="Request_delivery.html">Business Shipment</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="graphics.html">Track</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="fare_calculator.html">Fare Calculator</a></li>
  
              </ul>
            </div>
  
  
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><a href="index.html"><span style="color: #ffffff;">BLUE<span style="color: #20B2FF;">TICK</span></span></a></strong>. All Rights Reserved
        </div>
      </div>
    </footer><!-- End Footer -->
  
  
    <!-- Scroll Top Button -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
  <script src="assets/js/main.js"></script>
  <script>
   document.addEventListener('DOMContentLoaded' , function() {

    var myform = document.getElementById('myform');
    var autoname = document.getElementById('autoname');
    var yourUsername = document.getElementById('yourUsername');

    autoname.value = '<%= user.username %>';
    yourUsername.value = '<%= user.phonenumber%>'

   });
</script>

</body>

</html>